body {
  margin: 0px;
}

.flex-container-sign {
  /* border: 2px black solid; */
  display: flex;
  height: 43rem;
}

.heading-for-sign {
  text-align: center;
  line-height: 0.5;
  margin-bottom: 2rem;
}

.itmes-1 {
  overflow: hidden;
  /* border: 2px black solid; */
  width: 100%;
  /* height: 100%; */
  /* border-radius: 3rem; */
  /* margin: 2px; */
  background-color: blueviolet;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.itmes-2 {
  overflow: hidden;
  /* border: 2px black solid; */
  width: 100%;
  height: auto;
  background-color: white;
  padding-top: 5rem;
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-email-item-3 {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

input {
  outline: none;
  margin-top: 4px;
  border-color: transparent;
  background-color: rgb(197, 207, 215);
  border-radius: 4px;
  height: 30px;
  width: 20rem;
}

button {
  outline: none;
  width: 100%;
  background-color: black;
  color: white;
  border-color: transparent;
  border-radius: 4px;
  height: 40px;
  margin-top: 2rem;
}

.flex-name-item-1,
.flex-mobile-item-2,
.flex-email-item-3,
.flex-pass-item-4 {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
